<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login Page</title>
    <link rel="stylesheet" href="static\login.css"></link>
</head>
<body>
    <form action = "/login" method="post">
        <div class="main"><br>
            <h2>Login Page</h2>
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter your Username..."><br><br>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter your placeholder.."><br><br>
            <div class="submit">
                <input type="submit" value="Login Here">
            </div>
        </div>
    </form>
</body>
</html>